<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <title><%= title%></title>
  </head>
  <body>
    <% if (created) { %>
    <div class="alert alert-success">Note has been created</div>
    <% } %>
    <div class="container">
      <h1><%= title%></h1>

      <form action="/" method="post" class="mb-2">
        <div class="form-group mb-2">
          <input type="text" class="form-control" name="title" required />
        </div>
        <button class="btn btn-primary" type="submit">Create!</button>
      </form>

      <% if (notes.length) { %>
      <div class="card">
        <ul class="list-group">
          <% for (let i = 0; i < notes.length; i++) { %>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <span> <%= notes[i].title %></span>
            <div class="justify-content-end">
              <button
                class="btn btn-primary"
                data-type="edit"
                data-id="<%= notes[i].id %>"
                data-title="<%= notes[i].title %> "
              >
                Edit
              </button>
              <button
                class="btn btn-danger"
                data-type="remove"
                data-id="<%= notes[i].id %> "
              >
                &times;
              </button>
            </div>
          </li>

          <% } %>
        </ul>
      </div>
      <% } else { %>
      <p>No notes</p>
      <% } %>
    </div>
    <script src="/app.js"></script>
  </body>
</html>
